@media (max-width: 576px){
	#booking-section{
		margin-top: -50px;
	}
}

#car-booking{
    background: #ededec;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

#booking-section .primary-btn{
	line-height: 32px !important;
}
.card-header {
	padding: 0;
	background-color: #b51a19; 
	
}
.btn-link {
	color: #fff;
}
.input-group-text{
	background: none;
	padding: 0;
}
@media (min-width: 576px){
	.mr-sm-2, .mx-sm-2{
		margin: 0 !important;
		border: none;
	}
	.mb-1, .my-1{
		margin: 0 !important;
		border: none;
	}
}
.custom-select{
	background: #eae9e9; 
}
.btn-link:hover{
	text-decoration: none;
	color: #fff;
	cursor: text !important;
}
.imgFrame{
	/*background: pink;*/

}
.imgFrame img{ 
	height: 100px;

}
.frontImage{
	/*background: yellow;*/
	position: relative;

}
.backImage{
	/*background: #e5e5e5;*/
	position: absolute;
	top: 0;
	left: 37px;
	opacity: 0;
	transition: all 0.6s;
}
.backImage:hover{
	opacity: 1;
	transition: all 0.6s;
}

.booking-page-details .car-features li{
	display: block;
    clear: both;
}
.booking-page-details .tab-content{
	padding-bottom: 30px!important;
} 

.list-detail-items .item-wrapper{
	display: flex;
	justify-content: space-between;
	font-family:sans-serif;
}

.list-detail-items .item-right{
	width: 65%;
}

@media (max-width: 576px){
.list-detail-items .item-wrapper{
	font-size: 11px;
}
}