#car-list{
    background: #ededec;
    padding: 20px;
    position: fixed;
    width: 100%;
    padding-bottom: 7px;
}

#car-list .content-wrapper, 
#list-container{
    margin-right: 10%;
    margin-left: 10%; 
}

#car-list .body-wrapper{
    display: flex;
    justify-content: space-between;
}

.body-wrapper .pick_up_date span,
.body-wrapper .return_date span,
.body-wrapper .time span{
    display: block;
}
.body-wrapper .pick_up_date b,
.body-wrapper .return_date b,
.body-wrapper .time b{
 color: #212121;
}

.pick_up_date,
.return_date{
    position: relative;
    border-left: 1px solid #ccc;
    padding-left: 2px;
}
.pick_up_date::before,
.return_date::before{
    content: '';
    background-image: url(../img/calendar.png);
    padding: 8px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: -21px;
    top: 4px;
}

.modify{
    display: flex;
    justify-content: flex-end;
}
.modify button{
    padding: 0 6px;
    line-height: 2;
    background: #fff;
    color: #b51a1a;
    text-transform: capitalize !important;
    background-color: white;
}

.align-self-center{
    align-items: center;
}
.mobile-view-car-feature{
    display: none;
}
@media (max-width: 767px){
    .breadcrumb-first{
        display: none
    }
    .dates-wrapper{
        width: 82%;
    }
    .header-wrapper{
        margin-top: -11px;
        margin-bottom: 7px;
    }
    .modify{
        margin-right: -109%;
    }
    #list-container .details-panel{
        display: none;
    }
    .mobile-view-car-feature{
        display: inherit;
        max-width: 60px;
        padding: 0;
        padding-top: 10px;
        padding-left: 0;
        background: #fff;
    }
    .mobile-view-car-feature .car-features img{
        width: 17px;
    }
    .mobile-view-car-feature .car-features li{
        display: block;
        padding: 0;
    }
    .mobile-view-car-feature .car-features h6{
        padding: 10px 5px;
        font-size: 7px;
        padding-top: 3px;
        margin-left: -3px;
    }
}

/* List */
#list-container{
    /*margin-top: 75px;*/
}
#list-container .list{
    /* min-height: 90px; */
    border: 1px solid #c91a26;
    border-radius: 8px;
    margin-bottom: 0;
}
#list-container .list.details-shown{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.details-panel{
    border: 1px solid #c91a26;
    border-radius: 8px;
    margin-bottom: 10px;
    border-top:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.details-panel .col{
    padding:0;
}

/* Tab */
ul.detail-innerTabs{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
ul.detail-innerTabs li{
    color: #222;
    display: block;
    float: left;
    padding: 3px 15px;
    cursor: pointer;
    background: #f8f8f8
}
ul.detail-innerTabs li.active{
    background: #b51a19;
    color: #fff;
}

.tab-content-container{
    display: block;
}
.tab-content-container .tab-content{
    padding: 8px 8px 0 8px;
    display: none;
}
.tab-content-container .tab-content.active{
    display: block;
}
.tab-content-container .tab-content .car-features{
    text-align: center;
}
.car-features li{
    display: inline-block;
    padding: 5px 5px;
}
.car-features li img{
    display: block;
    width: 40px;
    float: left;
}
.car-features h6{
    display: block;
    float: left;
    padding: 10px 8px;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
}

@media (max-width: 937px){
    #car-list{
        padding: 4%;
    }
    #list-container{
        /*margin-top: 110px;*/
        background: #f3f3f3;
    }
    #list-container .list{
        border:0;
        border-radius: 0;
        margin-bottom: 2px;
        border-bottom: 2px solid #ededec;
        border-top: 1px solid #ededec;
        box-shadow: 1px 0 11px 0 #ededec;
    }
    #list-container .container{
        max-width: 100%;
        padding: 0 15px;
    }
    .col-first, 
    .col-second, 
    .col-third, 
    .col-fourth, 
    .col-fifth{
        min-height: 75px !important;
        background: #fff;
    }
    .col-fifth,
    .col-second{
        display: none;
    }
    .col-first{
        flex: 0 0 53%;
        max-width: 53%;
        border-right: 3px solid #b51a19;
    }
    .col-first::after{
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(194,225,245,0);
        border-left-color: #b51a19;
        border-width: 7px;
        margin-top: -7px;
        z-index: 1;
    }
    
    .help-icon{
        display: none;
    }
    .car-img{
        padding-left: 0;
    }
    .car-img img{
        height: 70px;
    }
    .col-first{
        text-align: right;
        padding-right: 6px;
    }
    .col-first p{
        font-size: 12px !important;
    }
    .col-first span{
        font-size: 8px;
        margin-top: -7px;
        display: block;
    }
    .col-third .col-content:first-child {
        position: absolute;
    }
    .col-third .col-content .price{
        display: none;
    }
    .col-third .col-content .save text{
        display: none;
    }

    .col-third .col-content .save{
        position: absolute;
        top: 39px;
        right: 10px;
        font-size: 10p;
        text-decoration: line-through;
    }
    .col-third{
        flex: 0 0 30%;
        max-width: 30%;
        padding-top: 10px !important;
    }
    .col-third .col{
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-third .offer-price{
        font-size: 18px !important;
    }
    .col-third .tax-text{
        font-size: 10px !important;
    }
}
@media (max-width: 576px){
    .col-first .container{
        /* max-width: 100% !important; */
    }
}


.col-first,
.col-second,
.col-third,
.col-fourth,
.col-fifth{
    min-height: 100px;
}


.car-data,
.car-img,
.col-first,
.col-fifth,
.col-second{
    align-self: center;
}
.col-second{
    background: #f8f8f8;
    text-align: end;
    padding-top: 30px;
}
.col-third{
    background: #f3f3f3;
    align-self: center;
    padding-top: 30px;
}
.col-fifth{
    padding-top: 30px;
}
.col-third span{
    display: block;
}
.col-third .price,
.col-third .offer-price{
    color: #45bd6b;
    font-size: 15px;
    display: inline;
    font-family: sans-serif;
}
.col-third .offer-price{
    font-size: 22px;
}
.col-third .tax-text{
    font-size: 12px;
    color: #424242;
}



.col-third .save{
    color: #b51a19;
    font-size: 12px;
}
.col-third .col-content{
    text-align:right;
}
.col-first p,
.col-second p{
    font-size: 18px;
    font-weight: 600;
    margin:0;
    color: #212121;
}
.col-second p{
    font-size: 14px;
}
.col-first span img{
    max-width: 13px;
}

 /*=============== uttam ============*/

#car-list{z-index: 998}

@media (max-width: 937px){
    .nav  {
    margin-top: 138px;
    }
}

@media (max-width: 937px){
    #car-list {
    padding: 4% 0;
    font-size: 12px;
    }
}



@media (max-width: 639px){
    #list-container {
        /*margin-top: 98px;*/
        background: #f3f3f3;
        margin-left: 2px;
        margin-right: 2px;
    }
    .nav {
        margin-top: 116px
    }
}

@media (max-width: 767px){
    .mobile-view-car-feature .car-features li {
       padding: 0 0 0 6px;
    }
    .mt-4{
        margin-top: 1rem !important;
    }
}
@media (max-width: 1000px){
    #list-container .details-panel {
        display: none;
    }
}
@media (min-width: 800px){
    .nav {
        margin-top: 140px;
    }
}
@media (min-width: 1000px){
    .nav {
        margin-top: 106px;
    }
    
}

.list:hover .primary-btn{
    color: #fab700;
    background-color: transparent;
    border-color: #fab700;
}

.nav-link{
    border: 1px solid #ca3827;
    padding: 0.2rem 1rem;
    font-weight: 400;
}
.nav-pills .nav-link {
    border-radius: 0px;
    font-size: 12px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ca3827
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom: -9px; 
  width:100%; 
}
@media (max-width: 359px){
    .iphone-5 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav-link{
    border: 1px solid #ca3827;
    padding: 0.1rem 0.8rem;
    font-weight: normal;
    }
}