#home{
    min-height: 506px;
    height: 506px;
    padding-bottom: 20px;
}
.booking-forms {
    min-height: 301px;
    padding-right: 30px;
}
.booking-forms .header-right{
    box-shadow: 0 7px 11px 0 rgba(1,1,1,.75);
    border:0;
    /* min-height: 405px; */
}
.booking-forms label {
    font-weight: 500;
    color: #212121;
}

.booking-forms .dates-wrap .col-form-label{
    line-height: 0.5;
}

.booking-forms .form-group{
    margin-bottom: 5px;
}
/* Tab */
.booking-forms #myTabContent{
    /* padding: 0 50px 20px 50px; */
    padding: 30px;
}
/* Nav items */
.booking-forms .nav-item{
    flex: 1 1 auto;
}
.booking-forms .nav-link{
    padding:15px 5px;
    text-align: center;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.28);
}

.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link{
    border: 1px solid rgba(0,0,0,.28);
    position: relative;
}
.nav-tabs .nav-link:hover{
    border: 1px solid rgba(0,0,0,.28);
    background: #fff;
}
.nav-tabs .active:focus{
    border: 1px solid rgba(0,0,0,.28);
    background: #b51a1a;
}
.nav-tabs .active:hover{
    background: #b51a1a;
}

.nav-tabs .active::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #b51a1a;
}

.booking-forms .nav-tabs{
    border:0;
}


.header-right{
    padding: 0;
}

.booking-forms .nav-tabs .nav-item{
    border:0;
}

/* Header */

#header{
    padding:0 25px;
}



@media (min-width: 960px){
    #nav-menu-container{
        display: none;
    }
}

.icon-header{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon-mail{
    background: url('../img/header-icon-mail.png');
    background-size: contain;
}
.icon-user{
    background: url('../img/header-icon-user.png');
    background-size: contain;
}
.header-links a{
    text-align: center;
    text-transform: capitalize;
}
.header-links img{
    display: inline;
}
.header-links .inner-text{
    display: block;
}

.tell{
    /* width: 196px; */
    height: 28px;
    background: #b51a19;
    border-radius: 20px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 3px !important;
    color: #fff !important;
    font-size: 16px !important;
}
.tell span{
    display: inline-block;
    background: #fff;
    border-radius: 20px;
    color: #b51a19;
    padding: 2px 10px 2px 8px;
    margin-left: -1.8px;
    margin-right: 7px;
}

/* Responsive */
@media (max-width: 960px){
    .mobile-nav-active  #nav-menu-container{
        /* display: block; */
    }
    .header-links{
        display: none;
    }
    #header{
        padding:10px;
    }
    .tell span{
        display: none;
    }
    .tell{
        background: #fff;
        border: 1px solid #b51a19;
        color: #b51a19!important;
        padding-left: 10px !important;
    }
    #header .justify-content-between{
        justify-content: end !important;
    }

    .booking-forms button[type='submit']{
        width: 100%;
    }

}

@media (max-width: 767px){
    .header-right .dates-wrap {
        margin-top:0;
    }
    .booking-forms {
        padding-right: 0;
    }

    #home{
        height: auto;
    }
}
/* Buttons */

@media (max-width: 500px){
    .ui-datepicker{
        top: 59px !important;
        left: 0 !important;
        height: 100% !important;
        width: 100% !important;
        position: fixed !important;
    }
    .ui-datepicker th{
        color: #c91a26;
    }
    .ui-state-default, 
    .ui-widget-content 
    .ui-state-default, 
    .ui-widget-header 
    .ui-state-default, 
    .ui-button, html 
    .ui-button.ui-state-disabled:hover, 
    html .ui-button.ui-state-disabled:active{
        border: 0;
        background: #fff;
        font-weight: normal;
        color: #212121;
        text-align: center;
        padding: 14px;
        border-radius: 50%;
    }
    .ui-state-active{
        background: #c91a26 !important;
        color: #fff !important;
    }
    .ui-datepicker .ui-datepicker-header{
        background: #c91a26;
    }
    .ui-datepicker .ui-datepicker-title{
        color: #fff;
    }
}

.btn-danger{
    background-color: #b51a19;
    border-color: #dc3545;
}

/* Modal design */

.modal-header{
    padding: 5px 10px;
    border-radius: 0;
}
.modal-title{
    color: #fff;
    font-weight: 300;
}
.modal-header.bg-red{
    background:#b51a1a;
}
.modal-content{
    border-radius: 0;
}
.modal-body{
    padding-bottom: 0;
}
.modal-footer{
    border-top:0;
    position: relative;
}

.close{
    text-shadow: none;
    color: #fff;
    font-weight: 300;
    opacity: 1;
}
.close:hover,
.close:focus{
    text-shadow: none;
    color: #fff;
    font-weight: 300;
}

.modal-forms form{
    display: none;
}

.modal-forms .mainModalForm{
    display: block;
}

#forgotPassword{
    position: absolute;
    top: -12px;
}